In [1]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Í∏∞Î≥∏ Ï∞∏Ï°∞
from hossam import load_data
from pandas import DataFrame, concat, pivot_table, get_dummies
from matplotlib import pyplot as plt
import pandas as pd
from matplotlib import font_manager as fm
import seaborn as sb
import numpy as np
from scipy.stats import t, ttest_ind, normaltest, bartlett, levene
from math import sqrt


# ÏÑ†ÌòïÌöåÍ∑ÄÎ•º ÏúÑÌïú Ï∞∏Ï°∞
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Í≤∞Í≥º Í≤ÄÏ†ïÏùÑ ÏúÑÌïú Ï∞∏Ï°∞
from statsmodels.stats.diagnostic import linear_reset
from scipy.stats import zscore, probplot, shapiro, anderson, pearsonr, spearmanr
from statsmodels.stats.api import het_breuschpagan
from statsmodels.stats.stattools import durbin_watson
from pingouin import anova, welch_anova, pairwise_tukey, pairwise_gameshowell

# VIFÍ∞íÏùÑ Í≥ÑÏÇ∞ÌïòÍ∏∞ ÏúÑÌïú Ï∞∏Ï°∞
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statannotations.Annotator import Annotator

# ÌååÏù¥Ïç¨ Í∏∞Î≥∏ Ìå®ÌÇ§ÏßÄ
from itertools import combinations

In [2]:
origin = load_data("diamonds")
print("\n===== Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞ ÌôïÏù∏ =====")
print(f"Îç∞Ïù¥ÌÑ∞ÏÖã ÌÅ¨Í∏∞: {origin.shape}")
print(f"Ïó¥ Í∞úÏàò: {origin.shape[1]}")
print(f"Ìñâ Í∞úÏàò: {origin.shape[0]}")
print("\n===== ÌÉÄÏûÖÌôïÏù∏ =====")
print(origin.info())
origin.head()

[data] https://data.hossam.kr/data/kaggle/diamonds.xlsx
[desc] Îã§Ïù¥ÏïÑÎ™¨ÎìúÎ•º Ïª§ÌåÖ, ÏÉâÏÉÅ, Ìà¨Î™ÖÎèÑ, Í∞ÄÍ≤© Î∞è Í∏∞ÌÉÄ ÏÜçÏÑ± Ï°∞ÏÇ¨Ìïú Îç∞Ïù¥ÌÑ∞ ÏÖã (Ï∂úÏ≤ò: https://www.kaggle.com/datasets/shivam2503/diamonds)

field    description
-------  -------------------------------------------------------------------
price    Îã§Ïù¥ÏïÑÎ™¨Îìú Í∞ÄÍ≤© (USD, $326 ~ $18,823)
carat    Ï§ëÎüâ (0.2~5.01)
cut      Ïª∑ ÌíàÏßà (Fair, Good, Very Good, Premium, Ideal)
color    ÏÉâÏÉÅ Îì±Í∏â - J (worst) to D (best)
clarity  Ìà¨Î™ÖÎèÑ Îì±Í∏â (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))
x        Í∏∏Ïù¥ mm (0~10.74)
y        ÎÑàÎπÑ mm (0--58.9)
z        ÎëêÍªò mm (0--31.8)
depth    ÎπÑÏú® Ï†ïÎ≥¥ = z / mean(x, y) = 2 * z / (x + y) (43--79)
table    Îã§Ïù¥ÏïÑÎ™¨ÎìúÏùò Í∞ÄÏû• ÎÑìÏùÄ ÏßÄÏ†êÏóê ÎπÑÌï¥ ÏÉÅÎã®(ÌÖåÏù¥Î∏î)Ïùò ÎÑàÎπÑ (43--95)


===== Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞ ÌôïÏù∏ =====
Îç∞Ïù¥ÌÑ∞ÏÖã ÌÅ¨Í∏∞: (53940, 10)
Ïó¥ Í∞úÏàò: 10
Ìñâ Í∞úÏàò: 53940

===== ÌÉÄÏûÖÌôïÏù∏ =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    53940 non-null  int64
 1   carat    53940 non-null  float64
 2   cut      53940 non-null  object
 3   color    53940 non-null  object
 4   clarity  53940 non-null  object
 5   x        53940 non-null  float64
 6   y        53940 non-null  float64
 7   z        53940 non-null  float64
 8   depth    53940 non-null  float64
 9   table    53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB
None

   price  carat      cut color clarity     x     y     z  depth  table
0    326   0.23    Ideal     E     SI2  3.95  3.98  2.43   61.5   55.0
1    326   0.21  Premium     E     SI1  3.89  3.84  2.31   59.8   61.0
2    327   0.23     Good     E     VS1  4.05  4.07  2.31   56.9   65.0
3    334   0.29  Premium     I     VS2  4.20  4.23  2.63   62.4   58.0
4    335   0.31     Good     J     SI2  4.34  4.35  2.75   63.3   58.0

In [3]:
def ols_report(tbl, data):
    """
    OLS summary(tbl)ÏôÄ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ(data)ÏùÑ Î∞õÏïÑ ÌöåÍ∑ÄÍ≥ÑÏàò Ìëú(rdf),
    Î™®Îç∏ Ï†ÅÌï©ÎèÑ ÏöîÏïΩ(result_report), Î™®Ìòï Î≥¥Í≥† Î¨∏Ïû•(model_report),
    Î≥ÄÏàòÎ≥Ñ Î≥¥Í≥† Î¶¨Ïä§Ìä∏(variable_reports)Î•º Î∞òÌôòÌïúÎã§.

    Parameters
    ----------
    tbl : statsmodels.iolib.summary.Summary
        sm.OLS(...).fit().summary() Í≤∞Í≥ºÎ°ú ÏÉùÏÑ±Îêú summary Í∞ùÏ≤¥.
    data : pandas.DataFrame
        Ï¢ÖÏÜçÎ≥ÄÏàòÏôÄ ÎèÖÎ¶ΩÎ≥ÄÏàòÎ•º Î™®Îëê Ìè¨Ìï®Ìïú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.

    Returns
    -------
    tuple
        (ÌöåÍ∑ÄÍ≥ÑÏàò DataFrame, Ï†ÅÌï©ÎèÑ ÏöîÏïΩ Î¨∏ÏûêÏó¥, Î™®Ìòï Î≥¥Í≥† Î¨∏ÏûêÏó¥, Î≥ÄÏàòÎ≥Ñ Î≥¥Í≥† Î¶¨Ïä§Ìä∏)
    """

    # ÎèÖÎ¶ΩÎ≥ÄÏàò Ïù¥Î¶Ñ(ÏÉÅÏàòÌï≠ Ï†úÏô∏)
    xnames = [n for n in fit.model.exog_names if n != "const"]

    # ÎèÖÎ¶ΩÎ≥ÄÏàò Î∂ÄÎ∂Ñ Îç∞Ïù¥ÌÑ∞ (VIF Í≥ÑÏÇ∞Ïö©)
    indi_df = data.filter(xnames)

    # ÎèÖÎ¶ΩÎ≥ÄÏàò Í≤∞Í≥ºÎ•º ÎàÑÏ†Å
    variables = []

    for i, v in enumerate(tbl.tables[1].data):
        # Ìïú ÌñâÏùò Î≥ÄÏàòÎ™Ö Ï∂îÏ∂ú ÌõÑ Î™©Î°ùÏóê ÏûàÎäîÏßÄ ÌôïÏù∏
        name = v[0].strip()
        if name not in xnames:
            continue

        # VIF Í≥ÑÏÇ∞ÏùÑ ÏúÑÌï¥ Ïó¥ Ïù∏Îç±Ïä§ Ï°∞Ìöå
        j = list(indi_df.columns).index(name)
        vif = variance_inflation_factor(indi_df, j)

        # Ïú†ÏùòÌôïÎ•†Í≥º Î≥ÑÌëú ÌëúÏãú Ìï®Ïàò
        p = float(v[4].strip())

        def stars(p):
            return "***" if p < 0.001 else "**" if p < 0.01 else "*" if p < 0.05 else ""

        # Ìïú Î≥ÄÏàòÏóê ÎåÄÌïú Î≥¥Í≥† Ï†ïÎ≥¥ Ï∂îÍ∞Ä
        variables.append(
            {
                "Ï¢ÖÏÜçÎ≥ÄÏàò": yname,  # Ï¢ÖÏÜçÎ≥ÄÏàò Ïù¥Î¶Ñ (Ïô∏Î∂ÄÏóêÏÑú Ï†ïÏùò)
                "ÎèÖÎ¶ΩÎ≥ÄÏàò": name,  # ÎèÖÎ¶ΩÎ≥ÄÏàò Ïù¥Î¶Ñ
                "B": v[1].strip(),  # ÎπÑÌëúÏ§ÄÌôî ÌöåÍ∑ÄÍ≥ÑÏàò(B)
                "ÌëúÏ§ÄÏò§Ï∞®": v[2].strip(),  # Í≥ÑÏàò ÌëúÏ§ÄÏò§Ï∞®
                "Beta": float(fit.params[name])
                * (
                    data[name].std(ddof=1) / data[yname].std(ddof=1)
                ),  # ÌëúÏ§ÄÌôî ÌöåÍ∑ÄÍ≥ÑÏàò(Œ≤)
                "t": "%s%s" % (v[3].strip(), stars(p)),  # t-ÌÜµÍ≥ÑÎüâ(+Î≥ÑÌëú)
                "p-value": p,  # Í≥ÑÏàò Ïú†ÏùòÌôïÎ•†
                "Í≥µÏ∞®": 1 / vif,  # Í≥µÏ∞®(Tolerance = 1/VIF)
                "vif": vif,  # Î∂ÑÏÇ∞ÌåΩÏ∞ΩÍ≥ÑÏàò
            }
        )

    rdf = DataFrame(variables)

    # summary ÌëúÏóêÏÑú Ï†ÅÌï©ÎèÑ Ï†ïÎ≥¥Î•º key-valueÎ°ú Ï∂îÏ∂ú
    result_dict = {}
    for idx in [0, 2]:
        for item in tbl.tables[idx].data:
            n = len(item)
            for j in range(0, n, 2):
                key = item[j].strip()[:-1]
                value = item[j + 1].strip()
                if not key or not value:
                    continue
                result_dict[key] = value

    # Ï†ÅÌï©ÎèÑ Î≥¥Í≥† Î¨∏ÏûêÏó¥ Íµ¨ÏÑ±
    result_report = (
        f"ùëÖ({result_dict['R-squared']}), "
        f"ùëÖ^2({result_dict['Adj. R-squared']}), "
        f"ùêπ({result_dict['F-statistic']}), "
        f"Ïú†ÏùòÌôïÎ•†({result_dict['Prob (F-statistic)']}), "
        f"Durbin-Watson({result_dict['Durbin-Watson']})"
    )

    # Î™®Ìòï Î≥¥Í≥† Î¨∏Ïû• Íµ¨ÏÑ±
    p_f = float(result_dict["Prob (F-statistic)"])
    sig_text = "Ïú†ÏùòÌïòÎã§" if p_f <= 0.05 else "Ïú†ÏùòÌïòÏßÄ ÏïäÎã§"
    p_sign = "‚â§" if p_f <= 0.05 else ">"

    tpl = (
        "%sÏóê ÎåÄÌïòÏó¨ %sÎ°ú ÏòàÏ∏°ÌïòÎäî ÌöåÍ∑ÄÎ∂ÑÏÑùÏùÑ Ïã§ÏãúÌïú Í≤∞Í≥º, "
        "Ïù¥ ÌöåÍ∑ÄÎ™®ÌòïÏùÄ ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú %s(F(%s,%s) = %s, p %s 0.05)."
    )

    model_report = tpl % (
        rdf["Ï¢ÖÏÜçÎ≥ÄÏàò"][0],
        ",".join(list(rdf["ÎèÖÎ¶ΩÎ≥ÄÏàò"])),
        sig_text,
        result_dict["Df Model"],
        result_dict["Df Residuals"],
        result_dict["F-statistic"],
        p_sign,
    )

    # Î≥ÄÏàòÎ≥Ñ Î≥¥Í≥† Î¨∏Ïû• Î¶¨Ïä§Ìä∏ Íµ¨ÏÑ±
    variable_reports = []
    s = "%sÏùò ÌöåÍ∑ÄÍ≥ÑÏàòÎäî %s(p %s 0.05)Î°ú, %sÏóê ÎåÄÌïòÏó¨ %s ÏòàÏ∏°Î≥ÄÏù∏Ïù∏ Í≤ÉÏúºÎ°ú ÎÇòÌÉÄÎÇ¨Îã§."

    for i in rdf.index:
        row = rdf.iloc[i]
        p_val = float(row["p-value"])
        p_sign_var = "‚â§" if p_val < 0.05 else ">"
        sig_word = "Ïú†ÏùòÎØ∏Ìïú" if p_val < 0.05 else "Ïú†ÏùòÌïòÏßÄ ÏïäÏùÄ"

        variable_reports.append(
            s
            % (
                row["ÎèÖÎ¶ΩÎ≥ÄÏàò"],
                row["B"],
                p_sign_var,
                row["Ï¢ÖÏÜçÎ≥ÄÏàò"],
                sig_word,
            )
        )

    return rdf, result_report, model_report, variable_reports

In [4]:
df = origin.filter(["price", "carat", "depth", "table", "x", "y", "z"]).copy()
df.head()

yname = "price"

x = df.drop(yname, axis=1)
y = df[yname]

x_input = sm.add_constant(x)
fit = sm.OLS(y, x_input).fit()
tbl1 = fit.summary()
print(tbl1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.859
Model:                            OLS   Adj. R-squared:                  0.859
Method:                 Least Squares   F-statistic:                 5.486e+04
Date:                Thu, 15 Jan 2026   Prob (F-statistic):               0.00
Time:                        12:08:42   Log-Likelihood:            -4.7090e+05
No. Observations:               53940   AIC:                         9.418e+05
Df Residuals:                   53933   BIC:                         9.419e+05
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2.085e+04    447.562     46.584      0.000       2e+04    2.17e+04
carat       1.069e+04     63.201    169.085      0.000    1.06e+04    1.08e+04
depth       -203.1541      5.504    -36.910      0.000    -213.942    -192.366
table       -102.4457      3.084    -33.216      0.000    -108.491     -96.401
x          -1315.6678     43.070    -30.547      0.000   -1400.086   -1231.250
y             66.3216     25.523      2.599      0.009      16.296     116.347
z             41.6277     44.305      0.940      0.347     -45.210     128.465
==============================================================================
Omnibus:                    14093.399   Durbin-Watson:                   1.249
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           373568.966
Skew:                           0.674   Prob(JB):                         0.00
Kurtosis:                      15.822   Cond. No.                     5.91e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.91e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [5]:
rdf, r, m, v = ols_report(tbl1, df)
display(rdf)
print(m)

,Ï¢ÖÏÜçÎ≥ÄÏàò,ÎèÖÎ¶ΩÎ≥ÄÏàò,B,ÌëúÏ§ÄÏò§Ï∞®,Beta,t,p-value,Í≥µÏ∞®,vif
0,price,carat,1.069e+04,63.201,1.269710,169.085***,0.000,0.014259,70.132799
1,price,depth,-203.1541,5.504,-0.072953,-36.910***,0.000,0.001941,515.146274
2,price,table,-102.4457,3.084,-0.057380,-33.216***,0.000,0.001998,500.595341
3,price,x,-1315.6678,43.070,-0.369943,-30.547***,0.000,0.000778,1284.949828
4,price,y,66.3216,25.523,0.018987,2.599**,0.009,0.001883,530.998218
5,price,z,41.6277,44.305,0.007364,0.940,0.347,0.001850,540.677349

priceÏóê ÎåÄÌïòÏó¨ carat,depth,table,x,y,zÎ°ú ÏòàÏ∏°ÌïòÎäî ÌöåÍ∑ÄÎ∂ÑÏÑùÏùÑ Ïã§ÏãúÌïú Í≤∞Í≥º, Ïù¥ ÌöåÍ∑ÄÎ™®ÌòïÏùÄ ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÎã§(F(6,53933) = 5.486e+04, p ‚â§ 0.05).

In [6]:
while True:
    rdf, r, m, v = ols_report(tbl1, df)
    if rdf["vif"].max() >= 10:
        df = df.drop(rdf[rdf["vif"] == rdf["vif"].max()]["ÎèÖÎ¶ΩÎ≥ÄÏàò"], axis=1)
        x = df.drop(yname, axis=1)
        y = df[yname]
        x_input = sm.add_constant(x)
        fit = sm.OLS(y, x_input).fit()
        tbl1 = fit.summary()
    else:
        break

In [7]:
display(rdf)

,Ï¢ÖÏÜçÎ≥ÄÏàò,ÎèÖÎ¶ΩÎ≥ÄÏàò,B,ÌëúÏ§ÄÏò§Ï∞®,Beta,t,p-value,Í≥µÏ∞®,vif
0,price,carat,7820.0379,14.225,0.929149,549.744***,0.0,0.255747,3.910114
1,price,table,-74.3007,3.018,-0.041616,-24.623***,0.0,0.255747,3.910114

In [8]:
df1 = origin.filter(["price", "carat", "cut", "color", "clarity"]).copy()

df1 = get_dummies(
    df1, columns=["cut", "color", "clarity"], dtype="int", drop_first=True
)
df1.head()

,price,carat,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,326,0.23,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
1,326,0.21,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0
2,327,0.23,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
3,334,0.29,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0
4,335,0.31,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0

In [9]:
yname = "price"

x = df1.drop(yname, axis=1)
y = df1[yname]

x_input = sm.add_constant(x)
fit = sm.OLS(y, x_input).fit()
tbl1 = fit.summary()
print(tbl1)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.916
Model:                            OLS   Adj. R-squared:                  0.916
Method:                 Least Squares   F-statistic:                 3.264e+04
Date:                Thu, 15 Jan 2026   Prob (F-statistic):               0.00
Time:                        12:08:42   Log-Likelihood:            -4.5699e+05
No. Observations:               53940   AIC:                         9.140e+05
Df Residuals:                   53921   BIC:                         9.142e+05
Df Model:                          18
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -7362.8022     51.684   -142.458      0.000   -7464.103   -7261.501
carat          8886.1289     12.034    738.437      0.000    8862.543    8909.715
cut_Good        655.7674     33.634     19.497      0.000     589.844     721.690
cut_Ideal       998.2544     30.656     32.563      0.000     938.168    1058.341
cut_Premium     869.3959     30.931     28.108      0.000     808.771     930.021
cut_Very Good   848.7169     31.277     27.135      0.000     787.414     910.020
color_E        -211.6825     18.316    -11.557      0.000    -247.582    -175.783
color_F        -303.3100     18.509    -16.387      0.000    -339.589    -267.031
color_G        -506.1995     18.122    -27.933      0.000    -541.719    -470.680
color_H        -978.6977     19.272    -50.784      0.000   -1016.471    -940.925
color_I       -1440.3019     21.646    -66.538      0.000   -1482.729   -1397.875
color_J       -2325.2224     26.723    -87.013      0.000   -2377.599   -2272.846
clarity_IF     5419.6468     52.136    103.952      0.000    5317.460    5521.834
clarity_SI1    3573.6880     44.598     80.132      0.000    3486.276    3661.100
clarity_SI2    2625.9500     44.788     58.630      0.000    2538.164    2713.736
clarity_VS1    4534.8790     45.535     99.591      0.000    4445.630    4624.128
clarity_VS2    4217.8291     44.841     94.061      0.000    4129.940    4305.719
clarity_VVS1   5072.0276     48.211    105.205      0.000    4977.534    5166.521
clarity_VVS2   4967.1994     46.891    105.932      0.000    4875.293    5059.105
==============================================================================
Omnibus:                    15285.474   Durbin-Watson:                   0.907
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           183262.957
Skew:                           1.022   Prob(JB):                         0.00
Kurtosis:                      11.796   Cond. No.                         37.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [10]:
rdf, r, m, v = ols_report(tbl1, df1)
display(rdf)
print(m)

,Ï¢ÖÏÜçÎ≥ÄÏàò,ÎèÖÎ¶ΩÎ≥ÄÏàò,B,ÌëúÏ§ÄÏò§Ï∞®,Beta,t,p-value,Í≥µÏ∞®,vif
0,price,carat,8886.1289,12.034,1.055819,738.437***,0.0,0.214354,4.665188
1,price,cut_Good,655.7674,33.634,0.047265,19.497***,0.0,0.283897,3.522404
2,price,cut_Ideal,998.2544,30.656,0.122562,32.563***,0.0,0.080458,12.428895
3,price,cut_Premium,869.3959,30.931,0.095068,28.108***,0.0,0.121939,8.200831
4,price,cut_Very Good,848.7169,31.277,0.088696,27.135***,0.0,0.135470,7.381726
5,price,color_E,-211.6825,18.316,-0.020457,-11.557***,0.0,0.426759,2.343241
6,price,color_F,-303.3100,18.509,-0.029011,-16.387***,0.0,0.428726,2.332493
7,price,color_G,-506.1995,18.122,-0.051622,-27.933***,0.0,0.376285,2.657563
8,price,color_H,-978.6977,19.272,-0.088537,-50.784***,0.0,0.449624,2.224078
9,price,color_I,-1440.3019,21.646,-0.108559,-66.538***,0.0,0.537651,1.859942
10,price,color_J,-2325.2224,26.723,-0.129476,-87.013***,0.0,0.675012,1.481455
11,price,clarity_IF,5419.6468,52.136,0.243336,103.952***,0.0,0.472803,2.115047
12,price,clarity_SI1,3573.6880,44.598,0.383779,80.132***,0.0,0.117893,8.482272
13,price,clarity_SI2,2625.9500,44.788,0.247512,58.630***,0.0,0.158072,6.326242
14,price,clarity_VS1,4534.8790,45.535,0.407540,99.591***,0.0,0.171780,5.821405
15,price,clarity_VS2,4217.8291,44.841,0.443052,94.061***,0.0,0.123040,8.127418
16,price,clarity_VVS1,5072.0276,48.211,0.319540,105.205***,0.0,0.310417,3.221469
17,price,clarity_VVS2,4967.1994,46.891,0.363215,105.932***,0.0,0.249954,4.000728

priceÏóê ÎåÄÌïòÏó¨ carat,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2Î°ú ÏòàÏ∏°ÌïòÎäî ÌöåÍ∑ÄÎ∂ÑÏÑùÏùÑ Ïã§ÏãúÌïú Í≤∞Í≥º, Ïù¥ ÌöåÍ∑ÄÎ™®ÌòïÏùÄ ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÎã§(F(18,53921) = 3.264e+04, p ‚â§ 0.05).

In [11]:
xnames = list(rdf[rdf["p-value"] > 0.05]["ÎèÖÎ¶ΩÎ≥ÄÏàò"])
df2 = df1.drop(xnames, axis=1)
x = df2.drop(yname, axis=1)
y = df2[yname]
x_input = sm.add_constant(x)
fit = sm.OLS(y, x_input).fit()
tbl = fit.summary()
rdf, r, m, v = ols_report(tbl, df2)

In [12]:
r

'ùëÖ(0.916), ùëÖ^2(0.916), ùêπ(3.264e+04), Ïú†ÏùòÌôïÎ•†(0.00), Durbin-Watson(0.907)'