In [46]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ê¸°ë³¸ ì°¸ì¡°
from hossam import load_data
from pandas import DataFrame, concat, pivot_table, get_dummies
from matplotlib import pyplot as plt
import pandas as pd
from matplotlib import font_manager as fm
import seaborn as sb
import numpy as np
from scipy.stats import t, ttest_ind, normaltest, bartlett, levene
from math import sqrt


# ì„ í˜•íšŒê·€ë¥¼ ìœ„í•œ ì°¸ì¡°
import statsmodels.api as sm
from statsmodels.formula.api import ols

# ê²°ê³¼ ê²€ì •ì„ ìœ„í•œ ì°¸ì¡°
from statsmodels.stats.diagnostic import linear_reset
from scipy.stats import zscore, probplot, shapiro, anderson, pearsonr, spearmanr
from statsmodels.stats.api import het_breuschpagan
from statsmodels.stats.stattools import durbin_watson
from pingouin import anova, welch_anova, pairwise_tukey, pairwise_gameshowell

# VIFê°’ì„ ê³„ì‚°í•˜ê¸° ìœ„í•œ ì°¸ì¡°
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statannotations.Annotator import Annotator

# íŒŒì´ì¬ ê¸°ë³¸ íŒ¨í‚¤ì§€
from itertools import combinations

In [47]:
origin = load_data("diamonds")
print("\n===== ë°ì´í„° í¬ê¸° í™•ì¸ =====")
print(f"ë°ì´í„°ì…‹ í¬ê¸°: {origin.shape}")
print(f"ì—´ ê°œìˆ˜: {origin.shape[1]}")
print(f"í–‰ ê°œìˆ˜: {origin.shape[0]}")
print("\n===== íƒ€ì…í™•ì¸ =====")
print(origin.info())
origin.head()

[data] https://data.hossam.kr/data/kaggle/diamonds.xlsx
[desc] ë‹¤ì´ì•„ëª¬ë“œë¥¼ ì»¤íŒ…, ìƒ‰ìƒ, íˆ¬ëª…ë„, ê°€ê²© ë° ê¸°íƒ€ ì†ì„± ì¡°ì‚¬í•œ ë°ì´í„° ì…‹ (ì¶œì²˜: https://www.kaggle.com/datasets/shivam2503/diamonds)

field    description
-------  -------------------------------------------------------------------
price    ë‹¤ì´ì•„ëª¬ë“œ ê°€ê²© (USD, $326 ~ $18,823)
carat    ì¤‘ëŸ‰ (0.2~5.01)
cut      ì»· í’ˆì§ˆ (Fair, Good, Very Good, Premium, Ideal)
color    ìƒ‰ìƒ ë“±ê¸‰ - J (worst) to D (best)
clarity  íˆ¬ëª…ë„ ë“±ê¸‰ (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))
x        ê¸¸ì´ mm (0~10.74)
y        ë„ˆë¹„ mm (0--58.9)
z        ë‘ê»˜ mm (0--31.8)
depth    ë¹„ìœ¨ ì •ë³´ = z / mean(x, y) = 2 * z / (x + y) (43--79)
table    ë‹¤ì´ì•„ëª¬ë“œì˜ ê°€ì¥ ë„“ì€ ì§€ì ì— ë¹„í•´ ìƒë‹¨(í…Œì´ë¸”)ì˜ ë„ˆë¹„ (43--95)


===== ë°ì´í„° í¬ê¸° í™•ì¸ =====
ë°ì´í„°ì…‹ í¬ê¸°: (53940, 10)
ì—´ ê°œìˆ˜: 10
í–‰ ê°œìˆ˜: 53940

===== íƒ€ì…í™•ì¸ =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    53940 non-null  int64
 1   carat    53940 non-null  float64
 2   cut      53940 non-null  object
 3   color    53940 non-null  object
 4   clarity  53940 non-null  object
 5   x        53940 non-null  float64
 6   y        53940 non-null  float64
 7   z        53940 non-null  float64
 8   depth    53940 non-null  float64
 9   table    53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB
None

   price  carat      cut color clarity     x     y     z  depth  table
0    326   0.23    Ideal     E     SI2  3.95  3.98  2.43   61.5   55.0
1    326   0.21  Premium     E     SI1  3.89  3.84  2.31   59.8   61.0
2    327   0.23     Good     E     VS1  4.05  4.07  2.31   56.9   65.0
3    334   0.29  Premium     I     VS2  4.20  4.23  2.63   62.4   58.0
4    335   0.31     Good     J     SI2  4.34  4.35  2.75   63.3   58.0

In [48]:
def ols_report(tbl, data):
    """
    OLS summary(tbl)ì™€ ë°ì´í„°í”„ë ˆì„(data)ì„ ë°›ì•„ íšŒê·€ê³„ìˆ˜ í‘œ(rdf),
    ëª¨ë¸ ì í•©ë„ ìš”ì•½(result_report), ëª¨í˜• ë³´ê³  ë¬¸ì¥(model_report),
    ë³€ìˆ˜ë³„ ë³´ê³  ë¦¬ìŠ¤íŠ¸(variable_reports)ë¥¼ ë°˜í™˜í•œë‹¤.

    Parameters
    ----------
    tbl : statsmodels.iolib.summary.Summary
        sm.OLS(...).fit().summary() ê²°ê³¼ë¡œ ìƒì„±ëœ summary ê°ì²´.
    data : pandas.DataFrame
        ì¢…ì†ë³€ìˆ˜ì™€ ë…ë¦½ë³€ìˆ˜ë¥¼ ëª¨ë‘ í¬í•¨í•œ ë°ì´í„°í”„ë ˆì„.

    Returns
    -------
    tuple
        (íšŒê·€ê³„ìˆ˜ DataFrame, ì í•©ë„ ìš”ì•½ ë¬¸ìì—´, ëª¨í˜• ë³´ê³  ë¬¸ìì—´, ë³€ìˆ˜ë³„ ë³´ê³  ë¦¬ìŠ¤íŠ¸)
    """

    # ë…ë¦½ë³€ìˆ˜ ì´ë¦„(ìƒìˆ˜í•­ ì œì™¸)
    xnames = [n for n in fit.model.exog_names if n != "const"]

    # ë…ë¦½ë³€ìˆ˜ ë¶€ë¶„ ë°ì´í„° (VIF ê³„ì‚°ìš©)
    indi_df = data.filter(xnames)

    # ë…ë¦½ë³€ìˆ˜ ê²°ê³¼ë¥¼ ëˆ„ì 
    variables = []

    for i, v in enumerate(tbl.tables[1].data):
        # í•œ í–‰ì˜ ë³€ìˆ˜ëª… ì¶”ì¶œ í›„ ëª©ë¡ì— ìˆëŠ”ì§€ í™•ì¸
        name = v[0].strip()
        if name not in xnames:
            continue

        # VIF ê³„ì‚°ì„ ìœ„í•´ ì—´ ì¸ë±ìŠ¤ ì¡°íšŒ
        j = list(indi_df.columns).index(name)
        vif = variance_inflation_factor(indi_df, j)

        # ìœ ì˜í™•ë¥ ê³¼ ë³„í‘œ í‘œì‹œ í•¨ìˆ˜
        p = float(v[4].strip())

        def stars(p):
            return "***" if p < 0.001 else "**" if p < 0.01 else "*" if p < 0.05 else ""

        # í•œ ë³€ìˆ˜ì— ëŒ€í•œ ë³´ê³  ì •ë³´ ì¶”ê°€
        variables.append(
            {
                "ì¢…ì†ë³€ìˆ˜": yname,  # ì¢…ì†ë³€ìˆ˜ ì´ë¦„ (ì™¸ë¶€ì—ì„œ ì •ì˜)
                "ë…ë¦½ë³€ìˆ˜": name,  # ë…ë¦½ë³€ìˆ˜ ì´ë¦„
                "B": v[1].strip(),  # ë¹„í‘œì¤€í™” íšŒê·€ê³„ìˆ˜(B)
                "í‘œì¤€ì˜¤ì°¨": v[2].strip(),  # ê³„ìˆ˜ í‘œì¤€ì˜¤ì°¨
                "Beta": float(fit.params[name])
                * (
                    data[name].std(ddof=1) / data[yname].std(ddof=1)
                ),  # í‘œì¤€í™” íšŒê·€ê³„ìˆ˜(Î²)
                "t": "%s%s" % (v[3].strip(), stars(p)),  # t-í†µê³„ëŸ‰(+ë³„í‘œ)
                "p-value": p,  # ê³„ìˆ˜ ìœ ì˜í™•ë¥ 
                "ê³µì°¨": 1 / vif,  # ê³µì°¨(Tolerance = 1/VIF)
                "vif": vif,  # ë¶„ì‚°íŒ½ì°½ê³„ìˆ˜
            }
        )

    rdf = DataFrame(variables)

    # summary í‘œì—ì„œ ì í•©ë„ ì •ë³´ë¥¼ key-valueë¡œ ì¶”ì¶œ
    result_dict = {}
    for idx in [0, 2]:
        for item in tbl.tables[idx].data:
            n = len(item)
            for j in range(0, n, 2):
                key = item[j].strip()[:-1]
                value = item[j + 1].strip()
                if not key or not value:
                    continue
                result_dict[key] = value

    # ì í•©ë„ ë³´ê³  ë¬¸ìì—´ êµ¬ì„±
    result_report = (
        f"ğ‘…({result_dict['R-squared']}), "
        f"ğ‘…^2({result_dict['Adj. R-squared']}), "
        f"ğ¹({result_dict['F-statistic']}), "
        f"ìœ ì˜í™•ë¥ ({result_dict['Prob (F-statistic)']}), "
        f"Durbin-Watson({result_dict['Durbin-Watson']})"
    )

    # ëª¨í˜• ë³´ê³  ë¬¸ì¥ êµ¬ì„±
    p_f = float(result_dict["Prob (F-statistic)"])
    sig_text = "ìœ ì˜í•˜ë‹¤" if p_f <= 0.05 else "ìœ ì˜í•˜ì§€ ì•Šë‹¤"
    p_sign = "â‰¤" if p_f <= 0.05 else ">"

    tpl = (
        "%sì— ëŒ€í•˜ì—¬ %së¡œ ì˜ˆì¸¡í•˜ëŠ” íšŒê·€ë¶„ì„ì„ ì‹¤ì‹œí•œ ê²°ê³¼, "
        "ì´ íšŒê·€ëª¨í˜•ì€ í†µê³„ì ìœ¼ë¡œ %s(F(%s,%s) = %s, p %s 0.05)."
    )

    model_report = tpl % (
        rdf["ì¢…ì†ë³€ìˆ˜"][0],
        ",".join(list(rdf["ë…ë¦½ë³€ìˆ˜"])),
        sig_text,
        result_dict["Df Model"],
        result_dict["Df Residuals"],
        result_dict["F-statistic"],
        p_sign,
    )

    # ë³€ìˆ˜ë³„ ë³´ê³  ë¬¸ì¥ ë¦¬ìŠ¤íŠ¸ êµ¬ì„±
    variable_reports = []
    s = "%sì˜ íšŒê·€ê³„ìˆ˜ëŠ” %s(p %s 0.05)ë¡œ, %sì— ëŒ€í•˜ì—¬ %s ì˜ˆì¸¡ë³€ì¸ì¸ ê²ƒìœ¼ë¡œ ë‚˜íƒ€ë‚¬ë‹¤."

    for i in rdf.index:
        row = rdf.iloc[i]
        p_val = float(row["p-value"])
        p_sign_var = "â‰¤" if p_val < 0.05 else ">"
        sig_word = "ìœ ì˜ë¯¸í•œ" if p_val < 0.05 else "ìœ ì˜í•˜ì§€ ì•Šì€"

        variable_reports.append(
            s
            % (
                row["ë…ë¦½ë³€ìˆ˜"],
                row["B"],
                p_sign_var,
                row["ì¢…ì†ë³€ìˆ˜"],
                sig_word,
            )
        )

    return rdf, result_report, model_report, variable_reports

In [49]:
xyz = ["x", "y", "z"]
origin.drop_duplicates()
df = origin[(origin[xyz] != 0).all(axis=1)]

df

       price  carat        cut color clarity     x     y     z  depth  table
0        326   0.23      Ideal     E     SI2  3.95  3.98  2.43   61.5   55.0
1        326   0.21    Premium     E     SI1  3.89  3.84  2.31   59.8   61.0
2        327   0.23       Good     E     VS1  4.05  4.07  2.31   56.9   65.0
3        334   0.29    Premium     I     VS2  4.20  4.23  2.63   62.4   58.0
4        335   0.31       Good     J     SI2  4.34  4.35  2.75   63.3   58.0
...      ...    ...        ...   ...     ...   ...   ...   ...    ...    ...
53935   2757   0.72      Ideal     D     SI1  5.75  5.76  3.50   60.8   57.0
53936   2757   0.72       Good     D     SI1  5.69  5.75  3.61   63.1   55.0
53937   2757   0.70  Very Good     D     SI1  5.66  5.68  3.56   62.8   60.0
53938   2757   0.86    Premium     H     SI2  6.15  6.12  3.74   61.0   58.0
53939   2757   0.75      Ideal     D     SI2  5.83  5.87  3.64   62.2   55.0

[53920 rows x 10 columns]

In [50]:
df = df.copy()

df["log_price"] = np.log(df["price"])
df["log_carat"] = np.log(df["carat"])
df.head()

,price,carat,cut,color,clarity,x,y,z,depth,table,log_price,log_carat
0,326,0.23,Ideal,E,SI2,3.95,3.98,2.43,61.5,55.0,5.786897,-1.469676
1,326,0.21,Premium,E,SI1,3.89,3.84,2.31,59.8,61.0,5.786897,-1.560648
2,327,0.23,Good,E,VS1,4.05,4.07,2.31,56.9,65.0,5.789960,-1.469676
3,334,0.29,Premium,I,VS2,4.20,4.23,2.63,62.4,58.0,5.811141,-1.237874
4,335,0.31,Good,J,SI2,4.34,4.35,2.75,63.3,58.0,5.814131,-1.171183

In [51]:
df1 = df.filter(["log_price", "log_carat", "depth", "table", "x", "y", "z"]).copy()
df1.head()

yname = "log_price"

x = df1.drop(yname, axis=1)
y = df1[yname]

x_input = sm.add_constant(x)
fit = sm.OLS(y, x_input).fit()
tbl1 = fit.summary()
print(tbl1)

                            OLS Regression Results
==============================================================================
Dep. Variable:              log_price   R-squared:                       0.935
Model:                            OLS   Adj. R-squared:                  0.935
Method:                 Least Squares   F-statistic:                 1.299e+05
Date:                Thu, 15 Jan 2026   Prob (F-statistic):               0.00
Time:                        12:08:54   Log-Likelihood:                -3473.7
No. Observations:               53920   AIC:                             6961.
Df Residuals:                   53913   BIC:                             7024.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         11.5899      0.116     99.541      0.000      11.362      11.818
log_carat      1.7378      0.018     95.637      0.000       1.702       1.773
depth         -0.0309      0.001    -29.583      0.000      -0.033      -0.029
table         -0.0186      0.001    -34.684      0.000      -0.020      -0.018
x             -0.0424      0.011     -3.842      0.000      -0.064      -0.021
y              0.0091      0.004      2.049      0.040       0.000       0.018
z              0.0149      0.009      1.719      0.086      -0.002       0.032
==============================================================================
Omnibus:                      796.203   Durbin-Watson:                   1.241
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1422.851
Skew:                           0.091   Prob(JB):                    1.08e-309
Kurtosis:                       3.775   Cond. No.                     8.98e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.98e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [52]:
rdf, r, m, v = ols_report(tbl1, df1)
display(rdf)
print(m)

,ì¢…ì†ë³€ìˆ˜,ë…ë¦½ë³€ìˆ˜,B,í‘œì¤€ì˜¤ì°¨,Beta,t,p-value,ê³µì°¨,vif
0,log_price,log_carat,1.7378,0.018,1.001587,95.637***,0.000,0.019411,51.516387
1,log_price,depth,-0.0309,0.001,-0.043646,-29.583***,0.000,0.000982,1017.838106
2,log_price,table,-0.0186,0.001,-0.040992,-34.684***,0.000,0.001683,594.130693
3,log_price,x,-0.0424,0.011,-0.046778,-3.842***,0.000,0.000645,1549.435070
4,log_price,y,0.0091,0.004,0.010224,2.049*,0.040,0.001850,540.537766
5,log_price,z,0.0149,0.009,0.010311,1.719,0.086,0.001329,752.453780

log_priceì— ëŒ€í•˜ì—¬ log_carat,depth,table,x,y,zë¡œ ì˜ˆì¸¡í•˜ëŠ” íšŒê·€ë¶„ì„ì„ ì‹¤ì‹œí•œ ê²°ê³¼, ì´ íšŒê·€ëª¨í˜•ì€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ë‹¤(F(6,53913) = 1.299e+05, p â‰¤ 0.05).

In [53]:
while True:
    rdf, r, m, v = ols_report(tbl1, df1)
    if rdf["vif"].max() >= 10:
        df1 = df1.drop(rdf[rdf["vif"] == rdf["vif"].max()]["ë…ë¦½ë³€ìˆ˜"], axis=1)
        x = df1.drop(yname, axis=1)
        y = df1[yname]
        x_input = sm.add_constant(x)
        fit = sm.OLS(y, x_input).fit()
        tbl1 = fit.summary()
    else:
        break

In [54]:
display(rdf)

,ì¢…ì†ë³€ìˆ˜,ë…ë¦½ë³€ìˆ˜,B,í‘œì¤€ì˜¤ì°¨,Beta,t,p-value,ê³µì°¨,vif
0,log_price,log_carat,1.7161,0.009,0.989099,192.725***,0.0,0.846452,1.181402
1,log_price,z,-0.0343,0.007,-0.023744,-4.627***,0.0,0.846452,1.181402

In [55]:
df2 = df.filter(["log_price", "log_carat", "cut", "color", "clarity"]).copy()

df2 = get_dummies(
    df2, columns=["cut", "color", "clarity"], dtype="int", drop_first=True
)
df2.head()

,log_price,log_carat,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,5.786897,-1.469676,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0
1,5.786897,-1.560648,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0
2,5.789960,-1.469676,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
3,5.811141,-1.237874,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0
4,5.814131,-1.171183,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0

In [56]:
yname = "log_price"

x = df2.drop(yname, axis=1)
y = df2[yname]

x_input = sm.add_constant(x)
fit = sm.OLS(y, x_input).fit()
tbl1 = fit.summary()
print(tbl1)

                            OLS Regression Results
==============================================================================
Dep. Variable:              log_price   R-squared:                       0.983
Model:                            OLS   Adj. R-squared:                  0.983
Method:                 Least Squares   F-statistic:                 1.693e+05
Date:                Thu, 15 Jan 2026   Prob (F-statistic):               0.00
Time:                        12:08:54   Log-Likelihood:                 31961.
No. Observations:               53920   AIC:                        -6.388e+04
Df Residuals:                   53901   BIC:                        -6.372e+04
Df Model:                          18
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const             7.8568      0.006   1362.891      0.000       7.846       7.868
log_carat         1.8837      0.001   1668.528      0.000       1.882       1.886
cut_Good          0.0801      0.004     20.592      0.000       0.073       0.088
cut_Ideal         0.1613      0.004     45.442      0.000       0.154       0.168
cut_Premium       0.1394      0.004     38.942      0.000       0.132       0.146
cut_Very Good     0.1172      0.004     32.392      0.000       0.110       0.124
color_E          -0.0542      0.002    -25.600      0.000      -0.058      -0.050
color_F          -0.0945      0.002    -44.135      0.000      -0.099      -0.090
color_G          -0.1602      0.002    -76.405      0.000      -0.164      -0.156
color_H          -0.2511      0.002   -112.834      0.000      -0.255      -0.247
color_I          -0.3725      0.002   -149.483      0.000      -0.377      -0.368
color_J          -0.5110      0.003   -166.237      0.000      -0.517      -0.505
clarity_IF        1.1137      0.006    184.434      0.000       1.102       1.125
clarity_SI1       0.5929      0.005    114.942      0.000       0.583       0.603
clarity_SI2       0.4279      0.005     82.487      0.000       0.418       0.438
clarity_VS1       0.8122      0.005    154.231      0.000       0.802       0.823
clarity_VS2       0.7421      0.005    143.067      0.000       0.732       0.752
clarity_VVS1      1.0186      0.006    182.410      0.000       1.008       1.030
clarity_VVS2      0.9472      0.005    174.523      0.000       0.937       0.958
==============================================================================
Omnibus:                     3725.321   Durbin-Watson:                   1.245
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            15922.894
Skew:                           0.210   Prob(JB):                         0.00
Kurtosis:                       5.629   Cond. No.                         33.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [57]:
rdf, r, m, v = ols_report(tbl1, df2)
display(rdf)
print(m)

,ì¢…ì†ë³€ìˆ˜,ë…ë¦½ë³€ìˆ˜,B,í‘œì¤€ì˜¤ì°¨,Beta,t,p-value,ê³µì°¨,vif
0,log_price,log_carat,1.8837,0.001,1.085710,1668.528***,0.0,0.522840,1.912630
1,log_price,cut_Good,0.0801,0.004,0.022708,20.592***,0.0,0.284892,3.510103
2,log_price,cut_Ideal,0.1613,0.004,0.077862,45.442***,0.0,0.080128,12.480108
3,log_price,cut_Premium,0.1394,0.004,0.059934,38.942***,0.0,0.122948,8.133493
4,log_price,cut_Very Good,0.1172,0.004,0.048185,32.392***,0.0,0.135808,7.363356
5,log_price,color_E,-0.0542,0.002,-0.020610,-25.600***,0.0,0.429124,2.330329
6,log_price,color_F,-0.0945,0.002,-0.035560,-44.135***,0.0,0.433958,2.304371
7,log_price,color_G,-0.1602,0.002,-0.064237,-76.405***,0.0,0.383126,2.610105
8,log_price,color_H,-0.2511,0.002,-0.089295,-112.834***,0.0,0.462241,2.163375
9,log_price,color_I,-0.3725,0.002,-0.110417,-149.483***,0.0,0.555656,1.799675
10,log_price,color_J,-0.5110,0.003,-0.111898,-166.237***,0.0,0.695564,1.437681
11,log_price,clarity_IF,1.1137,0.006,0.196655,184.434***,0.0,0.452660,2.209162
12,log_price,clarity_SI1,0.5929,0.005,0.250394,114.942***,0.0,0.119196,8.389535
13,log_price,clarity_SI2,0.4279,0.005,0.158558,82.487***,0.0,0.167713,5.962569
14,log_price,clarity_VS1,0.8122,0.005,0.287049,154.231***,0.0,0.168313,5.941300
15,log_price,clarity_VS2,0.7421,0.005,0.306537,143.067***,0.0,0.122032,8.194553
16,log_price,clarity_VVS1,1.0186,0.006,0.252352,182.410***,0.0,0.293554,3.406527
17,log_price,clarity_VVS2,0.9472,0.005,0.272401,174.523***,0.0,0.240493,4.158130

log_priceì— ëŒ€í•˜ì—¬ log_carat,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,color_G,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2ë¡œ ì˜ˆì¸¡í•˜ëŠ” íšŒê·€ë¶„ì„ì„ ì‹¤ì‹œí•œ ê²°ê³¼, ì´ íšŒê·€ëª¨í˜•ì€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ë‹¤(F(18,53901) = 1.693e+05, p â‰¤ 0.05).

In [58]:
xnames = list(rdf[rdf["p-value"] > 0.05]["ë…ë¦½ë³€ìˆ˜"])
df3 = df2.drop(xnames, axis=1)
x = df3.drop(yname, axis=1)
y = df3[yname]
x_input = sm.add_constant(x)
fit = sm.OLS(y, x_input).fit()
tbl = fit.summary()
rdf, r, m, v = ols_report(tbl, df3)

In [59]:
r

'ğ‘…(0.983), ğ‘…^2(0.983), ğ¹(1.693e+05), ìœ ì˜í™•ë¥ (0.00), Durbin-Watson(1.245)'